api.log
state_machine.log
uploader.log

temp_results
results

.mypy_cache
.pytest_cache
.git

docs

src/isar.egg-info

venv

# This file makes the docker build step fail. We do not know why, but it is needed for PyPi publishing.
pyproject.toml
